In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="ticks") # There are a few options for the style for seaborn: 
# white, dark, whitegrid, darkgrid, ticks

In [4]:
iris = sns.load_dataset("iris")

In [5]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Exercise 1

Visualize the distribution of another variable in the iris dataset

### Exercise 2

Plot a boxplot of the tip size by the size of the party.

### Exercise 3

Take your code from Exercise 2, and color the boxplots by the gender of the tipper.

### Exercise 4

Plot a swarm plot of the bill amount by the size of the party.

### Exercise 5

Now take your swarm plot and make a facet for each day of the week.
Hint: To make it look nice, you need to figure out how to wrap it.

### Exercise 6

Come up with your own question about this dataset. Then, create a visualization that sheds light on that question and make an argument about how it helps to answer the question.

### Exercise 7

Load the `diamonds` dataset from `sns` and do the same thing: come up with a question about it and create a visualization that helps to answer it.